.form-group {
    display: flex;
    align-items: center;

    >.label {
        font-weight: 600;
        font-size: 16px;
    }

    >.input {
        width: 300px;
        min-width: 160px;
        font-size: 16px;
        }

    >.label+.input {
        margin-left: 16px;
    }
}